name: docker-spark-ubuntu/master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: make version
      run: make --version

    - name: Build the Docker image
      run: make build-spark-all-images

    - name: Push the Docker image
      run: |
        docker push cs1193/docker-spark-base
        docker push cs1193/docker-spark-master
        docker push cs1193/docker-spark-worker
