name: docker-spark-ubuntu/master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Login to Docker Registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build the Docker image
      run: |
        docker build --build-arg base_image=cs1193/ubuntu-base -t cs1193/spark-base:latest -f ./images/spark-base/spark-base.Dockerfile .
        docker build --build-arg spark_base_image=cs1193/spark-base -t cs1193/spark-master:latest -f ./images/spark-master/spark-master.Dockerfile .
        docker build --build-arg spark_base_image=cs1193/spark-base -t cs1193/spark-worker:latest -f ./images/spark-worker/spark-worker.Dockerfile .

    - name: Push the Docker image
      run: |
        docker push cs1193/spark-base:latest
        docker push cs1193/spark-master:latest
        docker push cs1193/spark-worker:latest
